<p id="notice"><%= notice %></p>

<p>
  <strong>Coffee shop:</strong>
  <%= @memo.coffee_shop %>
</p>

<p>
  <strong>Kind of coffee:</strong>
  <%= @memo.kind_of_coffee %>
</p>

<p>
  <strong>Origin:</strong>
  <%= @memo.origin %>
</p>

<p>
  <strong>Taste:</strong>
  <%= @memo.taste %>
</p>

<p>
  <strong>Aroma:</strong>
  <%= @memo.aroma %>
</p>

<p>
  <strong>Mood:</strong>
  <%= @memo.mood %>
</p>

<p>
  <strong>Barrista:</strong>
  <%= @memo.barrista %>
</p>

<%= link_to 'Edit', edit_memo_path(@memo) %> |
<%= link_to 'Back', memos_path %>
